* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul, ol {
   list-style-type: none;
}


:root {
   --main-font1: 'Open Sans';
   --main-font2: 'Circe Rounded';
   --main-font3: 'Cormorant';
   --main--text--color1: #333232;
   --main--text--color2: #B590BA;
   --main--text--color3: #FFFFFF;
   --main--text--color4: #6A6A6A;
   --main--text--color5: #F5F5F5;
   --main--text--color6: #424242;
   --main--text--color7: #F3F4FA;
   --main--text--color8: #9A9898;
   --main--text--color9:  #1B1B1B;;
}

.container {
   max-width: 1300px;
   margin: 0 auto;
   /* border: 1px solid red; */
}

@media(max-width: 1300px) {
   .container {
      padding: 0 20px;
   }
}


